.footer{
    width: 100%;

    background: #020617;

    margin-top: 80px;

    border-top: 1px solid rgba(255,255,255,0.08);
}

.footer-content{
    width: 100%;
    max-width: 1300px;

    margin: auto;

    padding: 60px 40px;

    display: flex;
    justify-content: space-between;
    gap: 40px;

    flex-wrap: wrap;
}

.footer-left h2{
    color: white;

    font-size: 32px;

    margin-bottom: 15px;
}

.footer-left span{
    color: #38bdf8;
}

.footer-left p{
    color: #94a3b8;

    max-width: 350px;

    line-height: 28px;
}

.footer-links,
.footer-info{
    display: flex;
    flex-direction: column;
}

.footer-links h3,
.footer-info h3{
    color: white;

    margin-bottom: 18px;
}

.footer-links a{
    color: #94a3b8;

    text-decoration: none;

    margin-bottom: 12px;

    transition: 0.3s;
}

.footer-links a:hover{
    color: #38bdf8;
}

.footer-info p{
    color: #94a3b8;

    margin-bottom: 12px;
}

.footer-bottom{
    width: 100%;

    border-top: 1px solid rgba(255,255,255,0.05);

    padding: 20px;

    text-align: center;
}

.footer-bottom p{
    color: #64748b;

    font-size: 14px;
}

@media(max-width: 700px){

    .footer-content{
        flex-direction: column;
    }

}