@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #0f172a;
}

.navbar{
    width: 100%;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 60px;

    background: rgba(15, 23, 42, 0.95);

    border-bottom: 1px solid rgba(255,255,255,0.08);

    position: sticky;
    top: 0;
    z-index: 999;

    backdrop-filter: blur(10px);
}

.logo-link{
    text-decoration: none;
}

.logo{
    color: white;
    font-size: 32px;
    font-weight: 600;
}

.logo span{
    color: #38bdf8;
}

.nav-links{
    display: flex;
    gap: 35px;
}

.nav-links a{
    text-decoration: none;
    color: #cbd5e1;

    font-size: 16px;
    font-weight: 500;

    transition: 0.3s;
    position: relative;
}

.nav-links a::after{
    content: "";

    position: absolute;

    width: 0%;
    height: 2px;

    left: 0;
    bottom: -6px;

    background: #38bdf8;

    transition: 0.3s;
}

.nav-links a:hover{
    color: #38bdf8;
}

.nav-links a:hover::after{
    width: 100%;
}

.user-area{
    display: flex;
    align-items: center;
    gap: 15px;
}

.usuario{
    color: white;
    font-size: 15px;
}

.btn-login,
.btn-sair{
    padding: 10px 22px;

    border-radius: 10px;

    text-decoration: none;

    font-size: 14px;
    font-weight: 500;

    transition: 0.3s;
}

.btn-login{
    background: #38bdf8;
    color: #0f172a;
}

.btn-login:hover{
    background: #0ea5e9;
}

.btn-sair{
    border: 1px solid #ef4444;
    color: #ef4444;
}

.btn-sair:hover{
    background: #ef4444;
    color: white;
}

@media(max-width: 900px){

    .navbar{
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 20px;
    }

    .nav-links{
        flex-wrap: wrap;
        justify-content: center;
    }

}