body{
    background: #0f172a;
    color: #cbd5e1;
}

main,
.container,
.conteudo,
.lista-dupla,
.pagina-conteudo{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 70px 8%;
}

h1{
    color: white;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 25px;
    text-align: center;
}

h1 span,
h2 span{
    color: #38bdf8;
}

h2{
    color: white;
    font-size: 32px;
    margin: 45px 0 20px;
    padding-left: 18px;
    border-left: 4px solid #38bdf8;
}

h3{
    color: #38bdf8;
    font-size: 24px;
    margin: 30px 0 15px;
}

p{
    color: #cbd5e1;
    font-size: 17px;
    line-height: 32px;
    margin-bottom: 18px;
}

ul,
ol{
    margin: 20px 0 25px 35px;
}

li{
    color: #cbd5e1;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
}

section,
.card,
.bloco,
.explicacao{
    background: rgba(255,255,255,0.04);
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 24px;
    padding: 35px;
    margin-bottom: 35px;
    box-shadow: 0 0 30px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
}

img{
    max-width: 100%;
    border-radius: 18px;
    margin: 25px 0;
    border: 1px solid rgba(255,255,255,0.08);
}

pre{
    background: #020617;
    color: #e2e8f0;
    padding: 25px;
    border-radius: 18px;
    overflow-x: auto;
    border: 1px solid rgba(255,255,255,0.08);
    margin: 25px 0;
}

code{
    color: #38bdf8;
    font-family: Consolas, monospace;
}

a{
    color: #38bdf8;
    text-decoration: none;
}

a:hover{
    color: #0ea5e9;
}

@media(max-width: 700px){

    main,
    .container,
    .conteudo,
    .lista-dupla,
    .pagina-conteudo{
        padding: 50px 6%;
    }

    h1{
        font-size: 36px;
        line-height: 46px;
    }

    h2{
        font-size: 26px;
    }

    section,
    .card,
    .bloco,
    .explicacao{
        padding: 25px;
    }
}